<div class="container">
  <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">RaphApp</h2>
        <div class="flex-center">
          <img class="img-rounded" src={{hotness}} alt="">
        </div>
        <blockquote class='text-center'>
          <p class="cursive-font">{{quote}}</p>
          <footer>{{author}}</footer>
        </blockquote>
        <a href="/">
          <button type="button" class="btn btn-success btn-lg btn-block">More Raph</button>
        </a>
      </div>
  </div>
</div>