body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  margin-top: 0;
}

a {
  color: #00B7FF;
}

img {
  max-width: 60%;
}

img.small {
  max-width: 25%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursive-font {
  font-family: 'Indie Flower', cursive;
}